services:
  postgres:
    image: postgres:15
    container_name: postgres-users
    environment:
      POSTGRES_DB: usersdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - ./Database:/docker-entrypoint-initdb.d
  api:
    build: .
    depends_on:
      - postgres
    ports:
      - "5000:8080"
    environment:
      connectionStrings__default: "Host=postgres-users;Port=5432;Database=usersdb;Username=postgres;Password=postgres"
